<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>巧克力</title>
    <meta name="viewport"
          content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
</head>
<body>
<div class="wrap" id="wrap">
    <div class="novel" id="novel" style="font-size:.32rem;line-height:.64rem;"><h1></h1>
        巧克力
    </div>
    <div class="footer" id="footer"><b></b><a id="btn" title="">
        复制微信号 </a><img src="" alt=""></div>
    <div class="mean" id="mean" style="display">
        <div class="cont">
            <ul id="color">
                <li>棕色</li>
                <li>绿色</li>
                <li>黑色</li>
                <li class="curr">白色</li>
            </ul>
            <ol>
                <li id="delSize">A-</li>
                <li id="addSize">A+</li>
            </ol>
        </div>
        <img src="../barcode/3101743356401.png">
    </div>
</div>

</body>
</html>
