<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cab.dao.mapper.domains.DomainsMapper">
  <resultMap id="BaseResultMap" type="com.cab.bean.entity.domains.Domains">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createrid" jdbcType="INTEGER" property="createrid" />
    <result column="dnseffectivedate" jdbcType="INTEGER" property="dnseffectivedate" />
    <result column="dnsprovider" jdbcType="VARCHAR" property="dnsprovider" />
    <result column="domainname" jdbcType="VARCHAR" property="domainname" />
    <result column="modifierid" jdbcType="INTEGER" property="modifierid" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="outerparseip" jdbcType="VARCHAR" property="outerparseip" />
    <result column="principalid" jdbcType="INTEGER" property="principalid" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="usecompanyid" jdbcType="INTEGER" property="usecompanyid" />
    <result column="usedeptid" jdbcType="INTEGER" property="usedeptid" />
    <result column="validityend" jdbcType="TIMESTAMP" property="validityend" />
    <result column="validitystart" jdbcType="TIMESTAMP" property="validitystart" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createtime, createrid, dnseffectivedate, dnsprovider, domainname, modifierid, 
    modifytime, operator, outerparseip, principalid, remarks, usecompanyid, usedeptid, 
    validityend, validitystart
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from domains
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from domains
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cab.bean.entity.domains.Domains">
    insert into domains (id, createtime, createrid, 
      dnseffectivedate, dnsprovider, domainname, 
      modifierid, modifytime, operator, 
      outerparseip, principalid, remarks, 
      usecompanyid, usedeptid, validityend, 
      validitystart)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createrid,jdbcType=INTEGER}, 
      #{dnseffectivedate,jdbcType=INTEGER}, #{dnsprovider,jdbcType=VARCHAR}, #{domainname,jdbcType=VARCHAR}, 
      #{modifierid,jdbcType=INTEGER}, #{modifytime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{outerparseip,jdbcType=VARCHAR}, #{principalid,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{usecompanyid,jdbcType=INTEGER}, #{usedeptid,jdbcType=INTEGER}, #{validityend,jdbcType=TIMESTAMP}, 
      #{validitystart,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cab.bean.entity.domains.Domains">
    insert into domains
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="createrid != null">
        createrid,
      </if>
      <if test="dnseffectivedate != null">
        dnseffectivedate,
      </if>
      <if test="dnsprovider != null">
        dnsprovider,
      </if>
      <if test="domainname != null">
        domainname,
      </if>
      <if test="modifierid != null">
        modifierid,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="outerparseip != null">
        outerparseip,
      </if>
      <if test="principalid != null">
        principalid,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="usecompanyid != null">
        usecompanyid,
      </if>
      <if test="usedeptid != null">
        usedeptid,
      </if>
      <if test="validityend != null">
        validityend,
      </if>
      <if test="validitystart != null">
        validitystart,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrid != null">
        #{createrid,jdbcType=INTEGER},
      </if>
      <if test="dnseffectivedate != null">
        #{dnseffectivedate,jdbcType=INTEGER},
      </if>
      <if test="dnsprovider != null">
        #{dnsprovider,jdbcType=VARCHAR},
      </if>
      <if test="domainname != null">
        #{domainname,jdbcType=VARCHAR},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="outerparseip != null">
        #{outerparseip,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        #{principalid,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="usecompanyid != null">
        #{usecompanyid,jdbcType=INTEGER},
      </if>
      <if test="usedeptid != null">
        #{usedeptid,jdbcType=INTEGER},
      </if>
      <if test="validityend != null">
        #{validityend,jdbcType=TIMESTAMP},
      </if>
      <if test="validitystart != null">
        #{validitystart,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cab.bean.entity.domains.Domains">
    update domains
    <set>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrid != null">
        createrid = #{createrid,jdbcType=INTEGER},
      </if>
      <if test="dnseffectivedate != null">
        dnseffectivedate = #{dnseffectivedate,jdbcType=INTEGER},
      </if>
      <if test="dnsprovider != null">
        dnsprovider = #{dnsprovider,jdbcType=VARCHAR},
      </if>
      <if test="domainname != null">
        domainname = #{domainname,jdbcType=VARCHAR},
      </if>
      <if test="modifierid != null">
        modifierid = #{modifierid,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="outerparseip != null">
        outerparseip = #{outerparseip,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        principalid = #{principalid,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="usecompanyid != null">
        usecompanyid = #{usecompanyid,jdbcType=INTEGER},
      </if>
      <if test="usedeptid != null">
        usedeptid = #{usedeptid,jdbcType=INTEGER},
      </if>
      <if test="validityend != null">
        validityend = #{validityend,jdbcType=TIMESTAMP},
      </if>
      <if test="validitystart != null">
        validitystart = #{validitystart,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cab.bean.entity.domains.Domains">
    update domains
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      createrid = #{createrid,jdbcType=INTEGER},
      dnseffectivedate = #{dnseffectivedate,jdbcType=INTEGER},
      dnsprovider = #{dnsprovider,jdbcType=VARCHAR},
      domainname = #{domainname,jdbcType=VARCHAR},
      modifierid = #{modifierid,jdbcType=INTEGER},
      modifytime = #{modifytime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      outerparseip = #{outerparseip,jdbcType=VARCHAR},
      principalid = #{principalid,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      usecompanyid = #{usecompanyid,jdbcType=INTEGER},
      usedeptid = #{usedeptid,jdbcType=INTEGER},
      validityend = #{validityend,jdbcType=TIMESTAMP},
      validitystart = #{validitystart,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>